<!-- Página de Projetos com link para o sistema de Carros -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Projetos</title>
</head>
<body>
    <div class="container">
        <h1>Projetos</h1>
        <table border="1">
            <tr>
                <td><a href="/carros">Carros</a></td> <!-- Link para a página de carros -->
            </tr>
        </table>
    </div>
</body>
</html>